* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-image: linear-gradient(#F59292, orange); */
  background-color: #34495E;
  background-repeat: no-repeat;

  font-family: monospace;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* margin: 40px auto; */
  width: 90%;
  height: 90%;

  /* border: 1px solid black; */
  padding: 0px;
}

#display {
  height: 30%;
  width: 100%;
  font-size: 3rem;
  text-align: right;

  /* background-color: #ECE8E5; */
  background-color: #F4F7F7;
;

  border: none;
}

.keypad {
  height: 70%;
  width: 100%;

  display: flex;
  /* align-items: baseline; */


}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

  font-size: 1.8rem;
  color: #F4F7F7;
  margin: 0px;
  padding: 0px;
  }


.keypad > * {
  height: 100%;
  margin: 0px;
  border: none;
}

.number-area {
  /* border: 1px; */
  flex-grow: 3;
  /* flex-shrink: 1;
  flex-wrap: wrap; */

  background-color: #AACFD0;
}

.operator-area {
  flex-grow: 1;
  background-color: #5DA0A2;
}

.number-area button {
  width: 30%;
  height: 25%;
}


.operator-area button {
  width: 100%;
  height: 20%;
}

#equal {
  /* background-color: #F59292; */
}

@media (min-width: 1080px), (orientation: landscape) {
  main {
    width: 40%;
    height: 80%;
  }

}
